body{margin:0;padding:0}
.slide-wrapper{overflow:hidden;position:relative}
.slide{height:100%; list-style:none}
.slide li{position:absolute}
/*.slide-nav{position:absolute;bottom:0;left:0;right:0;text-align:center;z-index:1000}*/
.slide-nav a.active{cursor:default;font-weight:bold;color:#fff}
pre{background-color:#222}
