body{margin:0;padding:0}
ul{list-style-type:none;padding:0;margin:0}
a{text-decoration:none}
img{border:1px solide #666}
.slide-wrapper{width:200px;height:100px;overflow:hidden;position:relative}
.slide{height:100%}
.slide li{position:absolute}
.slide-nav{position:absolute;bottom:0;left:0;right:0;text-align:center;z-index:1000}
